<% if signed_in %>
  <%# day_link: day-tabs keeps ?day current so "Back to schedule" returns here. %>
  <%= link_to helpers.new_meetup_path(slot: slot_param), data: { day_link: true }, class: STYLE do %>
    <%= heroicon "plus", variant: "mini", class: "h-4 w-4" %>
    <%= label %>
  <% end %>
<% else %>
  <sign-in-trigger class="contents">
    <button type="button" class="<%= STYLE %>">
      <%= heroicon "plus", variant: "mini", class: "h-4 w-4" %>
      <%= label %>
    </button>
  </sign-in-trigger>
<% end %>
